html {
    font-size: .8rem;
}

@media (min-width: 600px) {
     html {
         font-size: 1.3125rem;
     }
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
}

.container {
    max-width: 570px;
    margin: 0 auto;
    padding: 0 1.75em;
}

h1 {
    font-size: 3.75rem;
    margin-top: 0;
}

h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1.25em;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    padding: .5em 0;
}

h1, 
h2 {
    font-weight: 300;
}

h3 {
    font-size: 2.25em;
    margin-bottom: 0;
    font-weight: 900;
}

img {
    border-radius: 50%;
    border: 10px solid white;
    max-width: 100%;
  }

.accent-text {
    display: block;
}

h1 .accent-text {
    font-size: 5rem;
}

h2 .accent-text {
    font-size: 3.75rem;
}

.accent-text,
.name,
time {
    font-weight: 900;
    color: #99D930;
}

a {
    color: #99D930;
}

a:hover {
    color: #131313;
    font-weight: 900;
}

header, 
section {
    padding: 6.25em 0;
}

p {
    margin-bottom: 0;
}

.small-text {
    font-size: 1rem;
    margin-top: .3em;
}

.about-me {
    background-color: #ffeaea;
}

.articles {
    background: #eaf9ff;
}

.dark-bkg {
    background: #252525;
    color: #fff;
}

.dark-bkg .button:hover,
.dark-bkg .button:focus {
    background: #fff;
    color: #252525;
}

.button {
    display: inline-block;
    padding: .6em 1.5em;
    background: #99D930;
    color: black;
    margin-top: 1.5em;
    font-weight: 900;
    text-decoration: none;
}

.button:hover, 
.button:focus {
    background: black;
    color: white;
}


