html {
    font-size: .8rem;
}

@media (min-width: 600px) {
     html {
         font-size: 1.3125rem;
     }
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.container {
    max-width: 570px;
    margin: 0 auto;
    padding: 0 1.75em;
}

h1 {
    font-size: 3.75rem;
    margin-top: 0;
}

h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1.25em;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    padding: .5em 0;
}

h1, 
h2 {
    font-weight: 300;
}

h3 {
    font-size: 2.25em;
    margin-bottom: 0;
    font-weight: 900;
}

.selfie {
    border-radius: 50%;
    border: 10px solid white;
    max-width: 100%;
}

.accent-text {
    display: block;
}

h1 .accent-text {
    font-size: 5rem;
}

h2 .accent-text {
    font-size: 3.75rem;
}

.accent-text,
.name,
time {
    font-weight: 900;
    color: #99D930;
}

a {
    color: #99D930;
    font-weight: 900;
}

a:hover {
    color: #131313;
    font-weight: 900;
}

header, 
section {
    padding: 3.25em 0;
}

header {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

p {
    margin-bottom: 0;
}

.small-text {
    font-size: 1rem;
    margin-top: .3em;
}

img {
    max-width: 100%;
}

.about-me {
    background-color: #ffeaea;
}

.articles {
    background: #eaf9ff;
}

.inverse {
    background: #252525;
    color: #fff;
}

.inverse .button:hover,
.inverse .button:focus {
    background: #fff;
    color: #252525;
}

.button {
    display: inline-block;
    padding: .6em 1.5em;
    background: #99D930;
    color: black;
    margin-top: 1.5em;
    font-weight: 900;
    text-decoration: none;
}

.button:hover, 
.button:focus {
    background: black;
    color: white;
}


@media (min-width: 750px) {
    
    .columns {
        display: flex; 
        align-items: center;
    }

    .articles.inverse {
        background-color: #99D930;
        color: #252525;
    }

    .articles.inverse .accent-text,
    .articles.inverse .name,
    .articles.inverse time,
    .articles.inverse a {
        color: #252525;
    }
    .articles.inverse .button {
        background-color: #252525;
        color: #fff;
    }

    .articles.inverse .button:hover,
    .articles.inverse .button:focus {
        background-color: #fff;
        color:#252525;
    }

    .articles.inverse h2 {
        border-color: black;
    }

    .portfolio {
        background-color: black;
        color: #fff;
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    .portfolio .container {
        max-width: 1200px;
    }

    .work {
        display: flex;
        justify-content: space-between;
    }

    .portfolio-item {
        max-width: 28%;    
    }

    .portfolio-item img {
        height: 15em;
        width: 100%;
        object-fit: cover;
    }
}